
#ToolBar {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

#PageGroup {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    margin-top: 10px;
}

#PageGroup::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 5px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
}
